/* open-sans-regular - latin_cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v18-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
         url('../fonts/open-sans-v18-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/open-sans-v18-latin_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
  }

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    word-wrap: break-word;
}

.wrapper {
    min-height: 850px;
    display: flex;
}

.order {
    display: flex;
    align-items: flex-start;
    background-image: url('../img/bg.png');
    min-height: 850px;
    min-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.order__order-feedback-form {
    display: flex;
    /* flex-direction: column; */
    /* background-color: white; */
    /* width: 490px; */
    /* min-height: 645px; */
    /* margin-top: 107px; */
    margin-left: auto;
    margin-right: auto;
}

.order-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 490px;
    min-height: 645px;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.order-form__describer {
    margin-left: auto;
    margin-right: auto;
}

.order-form__describer-content {
    font-size: 30px;
    font-weight: normal;
}

.order-form__item {
    background: linear-gradient(to top, #F8F8F8 100%, #F3F3F3 0%, #F2F2F2 100%);
    border: 1px solid #D7D7D7;
    border-radius: 3px;
}

.order-form__length-label {
    margin-top: 30px;
    margin-left: 102px;
}

.order-form__height-label {
    margin-top: 30px;
    margin-left: 102px;
}

.order-form__length-wrapper,
.order-form__height-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 102px;
}

.order-form__length-input,
.order-form__height-input {
    width: 230px;
    height: 50px;
    margin-top: 14px;
}

.order-form__length-input_invalid,
.order-form__height-input_invalid {
    border: 1px solid #C98E99;
}

.order-form__length-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 108px;
}

.order-form__height-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 115px;
}

.order-form__meters-par {
    margin-top: 25px;
    margin-left: 14px;
}

.order-form__material-par {
    margin-top: 30px;
    margin-left: 102px;
}

.order-form__material-input {
    margin-top: 14px;
    margin-left: 102px;
    width: 319px;
    height: 50px;
}

.mounting-wrapper {
    display: flex;
    flex-direction: row;
}

.order-form__mounting-label {
    display: block;
    margin: 9px 0 21px 36px;
}

.order-form__mounting-input {
    margin-top: 24px;
    margin-left: 101px;
}

.order-form__mounting-input[type="checkbox"] {
    display: none;
}

.order-form__mounting-input + .order-form__mounting-label:before {
    content: url(../img/not-checked.png);
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.order-form__mounting-input:checked + .order-form__mounting-label:before {
    content: url(../img/checked.png);
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.order-form__mounting-label {
    margin-top: 24px;
    margin-left: 102px;
}

.order-form__sum {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 102px;
}

.order-form__next-button {
    background-image: url(../img/next-button-enabled.png);
    margin-top: 30px;
    margin-left: 102px;
    width: 155px;
    height: 50px;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.order-form__next-button:disabled {
    background-image: url(../img/next-button-disabled.png);
}

.order-form__next-button:disabled:hover {
    background-image: url(../img/next-button-disabled.png);
}

.order-form__next-button:hover {
    background-image: url(../img/next-button-hover.png);
}

.order-form__next-button:active {
    background-image: url(../img/next-button-pressed.png);
}

/*feedback-form*/

.feedback-form__back-button {
    color: #FFFFFF;
    background-color: transparent;
    font-size: 13px;
    position: relative;
    bottom: 62px;
    width: 90px;
    border: none;
    cursor: pointer;
}

.feedback-form__back-button:before {
    content: url(../img/back-arrow.png);
    margin-right: 5px;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 490px;
    min-height: 645px;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    /* display: none; */
}

.feedback-form_describer {
    margin-left: auto;
    margin-right: auto;
}

.feedback-form__describer-content {
    font-size: 30px;
    font-weight: normal;
}

.feedback-form__item {
    background: linear-gradient(to top, #F8F8F8 100%, #F3F3F3 0%, #F2F2F2 100%);
    border: 1px solid #D7D7D7;
    border-radius: 3px;
}

.feedback-form__name-label {
    margin-top: 30px;
    margin-left: 102px;
    margin-left: 102px;
}

.feedback-form__email-label {
    margin-top: 30px;
    margin-left: 102px;
    margin-left: 102px;
}

.feedback-form__phone-label {
    margin-top: 30px;
    margin-left: 102px;
    margin-left: 102px;
}

.feedback-form__name-input_invalid,
.feedback-form__email-input_invalid,
.feedback-form__phone-input_invalid {
    border: 1px solid #C98E99;
}

.feedback-form__name-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 77px;
}

.feedback-form__email-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 150px;
}


.feedback-form__phone-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 66px;
}

.feedback-form__name-input,
.feedback-form__email-input,
.feedback-form__phone-input {
    width: 230px;
    height: 50px;
    margin-top: 14px;
    margin-left: 102px;
}

.feedback-form__bottom-describer {
    margin-top: 30px;
    margin-left: 102px;
}

.feedback-form__submit-button {
    margin-top: 30px;
    margin-left: 102px;
    width: 230px;
    height: 50px;
    border-radius: 6px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(to top, #4892EC 100%, #2F79D4 100%);
}

.feedback-form__submit-button:disabled {
    background: linear-gradient(to top, #818387 100%, #696B6F 100%);
}

.feedback-form__submit-button:disabled:hover {
    background: linear-gradient(to top, #818387 100%, #696B6F 100%);
}

.feedback-form__submit-button:hover {
    background-color: #3E8FF2;
}

.feedback-form__submit-button:active {
    background-color: #256FCA;
}

/* .order-form__length-input_invalid,
.order-form__height-input_invalid {
    border: 1px solid #C98E99;
}

.order-form__length-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 108px;
}

.order-form__height-label_invalid:after {
    content: 'Неверно заполнено поле';
    color: #C98E99;
    font-size: 13px;
    position: relative;
    top: 85px;
    right: 115px;
} */


#ajax-result-form {
    display: none;
    background-color: #FFFFFF;
    width: 490px;
    min-height: 330px;
    flex-direction: column;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.ajax-result-par-1 {
    font-size: 26px;
    text-align: center;
    font-weight: 700;
}

.ajax-result-par-2 {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.ajax-result-par-3 {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

.ajax-result-form__close-button {
    color: #FFFFFF;
    background-color: transparent;
    font-size: 13px;
    position: relative;
    bottom: 62px;
    width: 90px;
    border: none;
    cursor: pointer;
    left: 410px;
}